@model Cinema.Models.Diretor

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Novo Diretor";

}

<h2 class=" text-center;">Novo Diretor</h2>

<link href="~/css/acoes.css" rel="stylesheet" />

<form asp-action="Criar" method="post" class="f">

    @Html.AntiForgeryToken()



    <div class="d">
        <label class="l">Nome:</label>
        <input asp-for="nome" required class="i" />
    </div>

    <div>
        <label>Pais de Origem</label>
        <input asp-for="pais_origem"   required class="i"/>
    </div>

    <button type="submit">Cadastrar</button>
    <a asp-action="Index">Voltar</a>
</form>
