@model Cinema.Models.Diretor

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Editar Diretor";

}


<link href="~/css/criar.css" rel="stylesheet" />

<h2 class="h">Editar Diretor</h2>


<form asp-action="Editar" method="post" class="f">

    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="id_diretor" />
    <span asp-validation-for="id_diretor"></span>

    <div class="d">
        <label class="l">Nome:</label>
        <input asp-for="nome" required class="i" />
    </div>

    <div>
        <label>Pais de Origem</label>
        <input asp-for="pais_origem" required class="i" />
    </div>

    <button type="submit" class="b">Editar</button>
    <a asp-action="Index" class="a">Voltar</a>

</form>