@model Cinema.Models.Genero

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Inserir novo gênero";

}


<link href="~/css/criar.css" rel="stylesheet" />

<h2 class="h">Novo Genero de filme</h2>

<link href="~/css/acoes.css" rel="stylesheet" />

<form asp-action="Criar" method="post" class="f">

    @Html.AntiForgeryToken()



    <div class="d">
        <label class="l">Genero:</label>
        <input asp-for="nomeGen" required class="i" />
    </div>



    <button type="submit" class="b">Registrar</button>
    <a asp-action="Index" class="a">Voltar</a>
   

</form>