@model Cinema.Models.Genero

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Editar Genero";

}



<link href="~/css/criar.css" rel="stylesheet" />

<h2 class="h">Editar Generos de filmes</h2>



<form asp-action="Editar" method="post" class="f">

    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="id_gen" />
    <span asp-validation-for="id_gen"></span>

    <div class="d">
        <label class="l">Genero:</label>
        <input asp-for="nomeGen" required class="i" />
    </div>



    <button type="submit" class="b">Editar</button>
    <a asp-action="Index" class="a">Voltar</a>

</form>
