@model Cinema.Models.Genero

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Editar Genero";

}

<h2 class=" text-center;">Editar Generos de filmes</h2>

<link href="~/css/acoes.css" rel="stylesheet" />

<form asp-action="Editar" method="post" class="f">

    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="id_gen" />
    <span asp-validation-for="id_gen"></span>

    <div class="d">
        <label class="l">Genero:</label>
        <input asp-for="nomeGen" required class="i" />
    </div>



    <button type="submit">Editar</button>
    <a asp-action="Index">Voltar</a>

</form>
