@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet"  href="~/css/home.css"/>

<div class="d">
    <h2 class="h">Seja bem vindo a Cinépolis! </h2>
        <br/>
     <p class="p">Aqui você pode encontrar diversas informações de filmes com premiações que podem te interessar</p>
     <p class="p">Então, seja bem vindo! E se divirta nessa busca.</p>     
</div>