@model Cinema.Models.Filme

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Cadastrar Filme";

}


<link href="~/css/criar.css" rel="stylesheet" />

<h2 class="h">Cadastrar Filme</h2>

<link href="~/css/acoes.css" rel="stylesheet" />

<form asp-action="Criar" method="post" enctype="multipart/form-data" class="f">

    @Html.AntiForgeryToken()



    <div class="d">
        <label class="l">Titulo:</label>
        <input asp-for="titulos" required class="i" />
    </div>


    <div class="d">

        <label class="l">Diretor:</label>

        <select asp-for="id_diretor" asp-items="ViewBag.Diretor" class="s">

            <option value="">Selecione um diretor</option>

        </select>

    </div>

    <div class="d">

        <label class="l">Genero:</label>

        <select asp-for="genero" asp-items="ViewBag.Genero" class="s">

            <option value="">Selecione o Genero</option>

        </select>

    </div>


    <div class="d">
        <label class="l"> Capa do filme: </label>
        <input asp-for="capa" type="file" required class="i" />
    </div>

    <button type="submit" class="b">Cadastrar</button>
    <a asp-action="Index" class="a">Voltar</a>

</form>
