@model Cinema.Models.Filme

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Editar Filme";

}

<h2 class=" ">Editar Filme</h2>

<link href="~/css/acoes.css" rel="stylesheet" />

<form asp-action="Editar" method="post" enctype="multipart/form-data" class="f">

    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="id_filme" />
    <span asp-validation-for="id_filme"></span>

    <div class="d">
        <label class="l">Titulo:</label>
        <input asp-for="titulos" required class="i" />
    </div>


    <div class="d">

        <label class="l">Diretor:</label>

        <select asp-for="id_diretor" asp-items="ViewBag.Diretor" class="s">

            <option value="">Selecione um diretor</option>

        </select>

    </div>

    <div class="d">

        <label class="l">Genero:</label>

        <select asp-for="genero" asp-items="ViewBag.Genero" class="s">

            <option value="">Selecione o Genero</option>

        </select>

    </div>


    <div class="d">
        <label class="l"> Capa do filme: </label>
        <input asp-for="capa" type="file" required class="i" />
    </div>

    <button type="submit">Editar</button>
    <button asp-action="Index">Voltar</button>

</form> 