@model Cinema.Models.Premiacoes

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Editar Premiações";

}

<h2 class=" text-center;">Editar Premiação</h2>

<link href="~/css/acoes.css" rel="stylesheet" />

<form asp-action="Editar" method="post"  class="f">

    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="id_premiacoes" />
    <span asp-validation-for="id_premiacoes"></span>

    <div class="d">
        <label class="l">Editar a premiação</label>
        <input asp-for="premio" required class="i" />
    </div>



    <div class="d">

        <label class="l">Selecione o filme</label>

        <select asp-for="filme" asp-items=" ViewBag.Filme" class="s">

            <option value="">(Selecione)</option>

        </select>

    </div>



    <button type="submit">Salvar alterações</button>
    <button asp-action="Index">Voltar</button>

</form> 