@model Cinema.Models.Usuario

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Novo Usuario";

}

<link href="~/css/criar.css" rel="stylesheet" />
<body>
<h2 class="h">Novo Usuario</h2>

<form asp-action="Criar" method="post"  class="f">

    @Html.AntiForgeryToken()



    <div class="d">
        <label class="l">Nome:</label>
        <input asp-for="Nome" required class="i" />
    </div>

    <div class="d">
        <label class="l"> Email</label>
        <input type="email" asp-for="Email" required class="i"/>
    </div>
   
    <div class="d">
        <label class="l">Senha:</label>
        <input type="password" asp-for="Senha" required  class="i"/>
    </div>

    <div class="d">

        <label class="l">Função:</label>

        <select asp-for="role"  class="s">
            <option value=""> Selecione um cargo</option>
            <option value="admin">Admin</option>
            <option value="gerente">Gerente</option>
            <option value="cliente">Cliente</option>

        </select>

    </div>



    <button type="submit" class="b">Cadastrar</button>
    <a asp-action="Index" class="a">Voltar</a>

</form>
</body>
