@model Cinema.Models.Usuario

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Editar Usuario";

}

<h2 class=" text-center;">Editar Usuario</h2>

<link href="~/css/acoes.css" rel="stylesheet" />

<form asp-action="Editar" method="post" class="f">

    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="id"/>
    <span asp-validation-for="id"></span>


    <div class="d">
        <label class="l">Nome:</label>
        <input asp-for="Nome" required class="i" />
    </div>

    <div class="d">
        <label class="l"> Email</label>
        <input type="email"asp-for="Email" required class="i" />
    </div>

    <div class="d">
        <label class="l">Senha:</label>
        <input type="password" asp-for="Senha" required class="i" />
    </div>

    <div class="d">

        <label class="l">Função:</label>

        <select asp-for="role" class="s">
            <option value=""> Selecione um cargo</option>
            <option value="admin">Admin</option>
            <option value="gerente">Gerente</option>
            <option value="cliente">Cliente</option>

        </select>

    </div>



    <button type="submit">Editar</button>
    <a asp-action="Index">Voltar</a>


</form>